# Slack Configuration
SLACK_BOT_TOKEN=xoxb-
SLACK_APP_TOKEN=xapp-
SLACK_WORKSPACE_DOMAIN=hackclub

# Channel IDs
HELP_CHANNEL=
TICKETS_CHANNEL= 
this ^ can be a seperate logs channel too
CREW_CHANNEL=
here ^ leaderboard is posted

# AI endpoint:
AI_ENDPOINT = https://ai.hackclub.com/chat/completions
# MongoDB 
MONGO_URI=huh do you think you getting this?
MONGO_DB=
MONGO_COLLECTION=tickets
